spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/postgres
    username: admin
    password: 12345
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql

jogaar:
  secret-key: c15f78a40cc367bd585b36edb2ac73e653fc45170807f863d5954371615a6f1e
  token-life-span-in-mins: 60